
#main{
    background-color: #f5f6fd ;
    margin: 0;
    padding: 20px 40px;
    font-family: "Poppins";
    text-align: center;
    line-height: 1.5;
    
}
ul{
    margin: 0 auto 50px auto;
    max-width: 600px;
    text-align: left;
}
li{
    margin: 0 auto 10px auto;
}
#img-caption{
    font-size: 14px;
}
p{
    font-size: 16px;
}
h1{
    margin-bottom:0;
    padding-bottom:0;
    margin-inline-end: 0;
    background-color:#09090e;
    color: #f4f5ff;
}
img {
max-width: 100%;
}
#img-div{
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}
a{
    color:#0f0f47;
}
a:visited{
    color:#3838c5;
}